.wrapper-container {
  display: flex;
  margin-left: 8%;
  flex-direction: column;
}

.title {
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: medium;
}

.orders {
  margin-top: 2%;
  margin-left: 1%;
}

.bold-option {
  font-weight: bold
}

.low-opacity-option {
  opacity: 0.5;
}
