<div class="wrapper-container">
  <div class="title">
    <mat-icon>person</mat-icon>
    <span> {{title}}</span>
  </div>

  <div class="menu">
    <button mat-button
            [ngClass]="menuOption === options.Details ? 'bold' : 'low-opacity-option'"
            (click)="onClickDetails()">
      <mat-icon>list</mat-icon>
      Customer Details
    </button>
    <button mat-button
            [ngClass]="menuOption === options.Orders ? 'bold' : 'low-opacity-option'"
            (click)="onClickOrders()">
      <mat-icon>local_offer</mat-icon>
      Customer Orders
    </button>
    <button mat-button
            [ngClass]="menuOption === options.Edit ? 'bold' : 'low-opacity-option'"
            (click)="onClickEdit()">
      <mat-icon>edit</mat-icon>
      Edit Customer
    </button>
  </div>

  <mat-spinner *ngIf="!customer"></mat-spinner>

  <div [ngSwitch]="menuOption" class="content-info" *ngIf="customer">
    <app-edit-customer *ngSwitchCase="options.Edit" [customer]="customer"
            (menuOptionChange)="onClickDetails()"></app-edit-customer>
    <div *ngSwitchCase="options.Orders" class="orders">
      <div *ngIf="!customer.orders" class="bold">
        No Orders for {{customer | fullName}} were found
      </div>
      <div *ngIf="customer.orders">
        <span>Orders for {{customer | fullName}}</span>
        <app-customer-orders [customer]="customer"></app-customer-orders>
      </div>
    </div>
    <app-customer-details *ngSwitchCase="options.Details"
                          [customer]="customer"></app-customer-details>
  </div>

</div>
