div.title {
  display: flex;
  align-items: center;
  margin-top: 1%;
}

span {
  font-size: medium;
  margin-left: 0.3%;
}

div.details-wrapper {
  width: 55%;
  margin-top: 2%;
  margin-left: 6%;
}

div.left {
  width: 30%;
}

mat-icon {
  margin-left: 5%;
}

div.one-line {
  margin-bottom: 3%;
  display: flex;
}
