<div class="navbar-container">
  <img src={{peopleImage}}>
  <span>Customer Manager</span>
  <button routerLink="/customers"
          [disabled]="loginLogout === 'Login'"
          routerLinkActive="clicked-button"
          class="left-button">
          <a routerLink="/customerInformation"
             routerLinkActive="clicked-button"></a>
          Customers</button>
  <button routerLink="/orders"
          [disabled]="loginLogout === 'Login'"
          routerLinkActive="clicked-button"
          class="left-button">Orders</button>
  <button routerLink="/about"
          [disabled]="loginLogout === 'Login'"
          routerLinkActive="clicked-button"
          class="left-button">About</button>
  <button routerLink="/login"
          routerLinkActive="clicked-button"
          (click)="loginLogoutClicked()"
          class="right">{{loginLogout}}</button>
</div>
