<div class="navbar-container">
  <img class="logo" src="./assets/images/people.png"
       *ngIf="isUserLoggedIn"
       routerLink="/customers">
  <img class="logo" src="./assets/images/people.png"
       *ngIf="!isUserLoggedIn">
  <span class="logo"
        *ngIf="isUserLoggedIn"
        routerLink="/customers">
       Customer Manager</span>
  <span class="logo"
        *ngIf="!isUserLoggedIn">
       Customer Manager</span>
  <button routerLink="/customers"
          [disabled]="!isUserLoggedIn"
          routerLinkActive="clicked-button"
          class="left-button">
          <a routerLink="/customerInformation"
             routerLinkActive="clicked-button"></a>
          Customers</button>
  <button routerLink="/orders"
          [disabled]="!isUserLoggedIn"
          routerLinkActive="clicked-button"
          class="left-button">Orders</button>
  <button routerLink="/about"
          routerLinkActive="clicked-button"
          class="left-button">About</button>
  <button routerLink="/login"
          routerLinkActive="clicked-button"
          (click)="loginLogoutClicked()"
          class="right">
          {{ isUserLoggedIn ? 'Logout' : 'Login' }}
          </button>
</div>
