<div class="wrapper-container">
  <div class="title">
    <mat-icon class="top">person</mat-icon>
    <span> Customers</span>
  </div>


  <div class="menu">
    <button mat-button
            [ngClass]="menuOption === options.CardView ? 'bold-option' : 'low-opacity-option'"
            (click)="onClickCard()">
      <mat-icon>view_module</mat-icon>
      Card View
    </button>
    <button mat-button
            [ngClass]="menuOption === options.ListView ? 'bold-option' : 'low-opacity-option'"
            (click)="onClickList()">
      <mat-icon>list</mat-icon>
      List View
    </button>
    <button mat-button
            [ngStyle]="{'opacity': 0.5}"
            (click)="openDialog()">
      <mat-icon>add</mat-icon>
      New Customer
    </button>
    <mat-form-field>
      <mat-label>Search Customer</mat-label>
      <input matInput (keyup)="searchCustomer($event)">
    </mat-form-field>

    <mat-spinner *ngIf="!relevantCustomers"></mat-spinner>

    <div class="cards" *ngIf="menuOption === options.CardView">
      <app-customer-card class="card" *ngFor="let customer of relevantCustomers"
                         [customer]="customer"></app-customer-card>
    </div>

    <div class="list" *ngIf="menuOption === options.ListView">
      <app-list-view [customers]="relevantCustomers"></app-list-view>
    </div>


  </div>
</div>
